@model IEnumerable<VotingApp.Models.Aspirants>

@{
    ViewData["Title"] = "Aspirants";
}

<h1>Aspirants</h1>

<p>
    <a asp-action="CreateAspirants">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Votes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAsprants", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "AspirantsDetails", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "DeleteAspirant", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
